#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 620px;
  margin: 80px auto;
  background: #fff;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
 font-size: 30px;
}

input {
  width: 250px;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  right: 20px;
}

button {
  width: 60px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: palevioletred;
  color: #fff;
  cursor: pointer;
  

}

button:hover {
  background-color: plum;
}

.link {
  text-align: center;
  margin-top: 15px;
}

.link a {
  color: #2563eb;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.error {
  background: #ffe5e5;
  color: #b00020;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-size: 14px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.logout {
  
  background-color: seagreen;
  position: relative;
  left: 200px;
  bottom: 60px;
  text-align: center;
  width: 100px;
  
}

.logout:hover {
  background: #b91c1c;
}
.list{
  margin-top: 20px;
  /* list-style: none;  */
  list-style-position: inside;
  position: relative;
  right: 100px;
}
.del_btn{
  position: relative;
  left: 50px;
  background-color: grey;
}
.login{
  position: relative;
  top: 50px;
  right: 160px;
}

.new_user{
  margin-top: 60px;
}
.password{
  position: relative;
  left: 10px;
}
.signup{
  position: relative;
  top: 55px;
  right: 150px;
  width: 80px;
}
.log_password{
  position: relative;
  left: 23px;
}
.already_log_line{
  position: relative;
  top: 30px;
}
.update_btn{
  position: relative;
  left: 30px;
  background-color: grey;
  width: 70px;
}

